body{
    background-color: #f0f2f5;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 58px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgb(128 128 128 /50%);
}

.title1{
    color: #1876f2;
    line-height: 58px;
    font-family: system-ui;
    font-size: 28px;
    font-weight: 700;
    float: left;
    margin-left: 30px;
}

.input{
    width: 200px;
    height: 37px;
    margin-right: 10px;
    margin-top: 9.5px;
    text-indent: 15px;
    border-radius: 6px;
    border-width: 0.5px;
    border-color:rgb(128 128  128/50%);
    border-style: groove;
    outline: invert;
    font-size: 16px;
    outline-color: rgb(59, 186, 228);
}

.input:hover{
    border-color: gray;
}

.login_button{
    width: 70px;
    height: 39px;
    margin-top: 7.8px;
    margin-right: 10px;
    background-color: #1b74e4;
    border-width: 0px;
    border-radius: 8px;
    border-style: groove;
    font-family: system-ui;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: ease 0.7s;
}

.login_button:hover{
    background-color: #2d72cc;
}

.forgotAccount{
    display: block;
    float: right;
    line-height: 55px;
    color: #3267ac;
    text-decoration: none;
    margin-right: 35px;
    font-family: system-ui;
}

.forgotAccount:hover{
    text-decoration: underline;
}

.main{
    width: 40%;
    height: 290px;
    margin-left: 30%;
    margin-top: 2cm;
    background-color: white;
    box-shadow:0.5px 0.5px 2px 0.5px rgb(128 128 128/50%);
    border-radius: 9px;
}

.title2{
    font-family: system-ui;
    font-size: 22px;
    color: #162643;
    font-weight: 600;
    margin-left: 15px;
    padding-top: 10px;
    margin-bottom: 15px;
}

.forget_section1{
    width: 50%;
    float: left;
    height: 160px;
}

.text1{
    margin-left: 15px;
    margin-top: 10px;
    font-family: system-ui;
    font-size: 17px;
}

.radio_input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 9px;
    position: relative;
    top: 4px;
}

.text2{
    font-size: 16px;
    font-family: system-ui;
}

.text2 p{
    margin-left: 45px;
}

.forget_section2{
    width: 50%;
    height: fit-content;
    float: right;
}

.forget_section2 img{
    width: 20%;
    height: 60px;
    float: right;
    margin-top: 23px;
    margin-right: 40%;
    opacity: 100%;
}

.p1{
    margin-top: 100px;
    margin-left: 39.5%;
}

.p2{
    margin-left: 33%;
    font-size: 15px;
    color: gray;
    font-family: system-ui;
}

.main .a{
    display: block;
    float: left;
    text-decoration: none;
    color: rgb(0, 81, 255);
    margin-top: 23px;
    margin-left: 15px;
    font-family: system-ui;
    font-size: 14px;
}

.main a:hover{
    text-decoration: underline;
}

.button1{
    float: right;
    width: 90px;
    height: 35px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 5px;
    border-width: 0px;
    background-color:#1876f2;
    color: white;
    font-family: system-ui;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.button2{
    float: right;
    width: 90px;
    height: 35px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 5px;
    border-width: 0px;
    color: rgb(61, 61, 61);
    background-color: rgb(119 119 119/40%);
    font-family: system-ui;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.footer{
    background-color: white;
    width: 100%;
    height: 300px;
    margin-top: 80px;
    box-shadow: 0px 0px 1px 0px rgb(128 128 128 /50%);
}

.language_section{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 150px;
    height: 40px;
}

.language_list{
    list-style: none;
}

.language_list li{
    float: left;
    margin-right: 10px;
    color: gray;
    font-size: 15px;
    font-family: system-ui;
}

.language_list li:hover{
    text-decoration: underline;
}

.button{
    width: 35px;
    height: 20px;
    border-color: rgb(128 128 128/30%);
    border-width: 0.5px;
    color: gray;
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui;
    line-height: 0px;
    cursor: pointer;
    transition: 0.5s ease;
}

.button:hover{
    background-color: rgb(128 128 128 /20%);
}

.setting_section{
    width: 80%;
    margin-left: 15%;
}

.setting_list{
    list-style: none;
}

.setting_list li{
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    color: gray;
    font-size: 15px;
    font-family: system-ui;
}

.setting_list li:hover{
    text-decoration: underline;
}